.agentBar {
  width: 100%;
  height: 100%;
}

.agentBar :global(.ant-modal-wrap)::-webkit-scrollbar {
  display: none;
}

.agentHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
}

.agentBar :global(.ant-space) {
  block-size: 32px;
  line-height: 32px;
  padding-block-end: 10px;
}

.agentBar :global(.ant-space-item) {
  block-size: 32px;
}

.list_add {
  width: 100%;
  height: 42px;
  border-radius: 10px;
  /* 虚线 */
  border: 0.5px dashed #d9d9d9;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 30px;
}


.agentBar .AddRuleModal .AddRuleModalFormItem {
  margin-block-end: 0px !important;
  margin-bottom: 0px !important;

}

.AddRuleModalForm {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  overflow: auto;

}

.AddRuleModalForm::-webkit-scrollbar {
  display: none;
}

.ruleItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #bebebe;
}

.ruleInfo {
  width: 100%;
  padding: 0 10px;
  /* text-align: start;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; */
}

.ruleInfo>span {
  max-width: 280px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: start;
  display: inline-block;
}

.editIcon {
  margin: 0 5px;
}

.enbBox {
  display: flex;
  flex-wrap: nowrap;
  height: 34px;
  max-width: 350px;
}

.proxyHostAddress {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 5px;
}

.proxyHostAddress:hover .proxyHostAddressFormItem {
  width: 250px;
}

.proxyHostAddress>span {
  transition: all 0.3s;
  cursor: pointer;
}

.proxyHostAddress:hover>span {
  opacity: 0;
}

.proxyHostAddressFormItem {
  width: 0px;
  height: 34px;
  overflow: hidden;
  transition: width 0.3s;
}

.formItemLabel {
  font-size: 12px;
}

.agentBar :global(.ant-modal) {
  margin: 0 !important;
  top: 0 !important;
  padding: 0 !important;
}