.Layout>header {
  background: transparent !important;
}

.Layout {
  max-inline-size: 700px;
  min-height: 400px;
  max-height: 500px;
}

.Layout :global(.ant-layout-header) {
  padding-left: 10px !important;
}